<table class="table" *ngIf="projects.length">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">JIRA Project ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <th scope="row">{{project.id}}</th>
        <td>{{project.name}}</td>
        <td>{{project.description | truncate}}</td>
        <td>{{project.jira_project_id}}</td>
      </tr>
    </tbody>
  </table>