<div mat-dialog-title>
    <h1>
        <span *ngIf="createMode">Create</span>
        <span *ngIf="!createMode">Edit</span>
        <span>&nbsp;</span>
        <span>Task</span>
    </h1>
</div>
<!-- Content -->
<div mat-dialog-content>
    <form id="taskForm" #form="ngForm" (submit)="onSave(form)" fxLayout="column">
        <!-- Summary input -->
        <mat-form-field class="form-field-width" appearance="fill">
            <mat-label>Task summary</mat-label>
            <input name="summary" matInput [(ngModel)]="taskInput.summary" required>
        </mat-form-field>
        <!-- Description input -->
        <mat-form-field class="form-field-width" appearance="fill">
            <mat-label>Task description</mat-label>
            <textarea name="description" matInput [(ngModel)]="taskInput.description"></textarea>
        </mat-form-field>
        <!-- Completed checkbox -->
        <mat-checkbox name="completed" [(ngModel)]="taskInput.completed">
            Completed
        </mat-checkbox>
    </form>
</div>
<!-- Actions -->
<div mat-dialog-actions align="end">
    <button mat-button class="form-button" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Cancel
    </button>
    <button mat-raised-button disabled="{{form.invalid}}" class="form-button" color="accent" type="submit" form="taskForm">
        <mat-icon>save</mat-icon>
        <span>&nbsp;</span>
        <span *ngIf="createMode">Create</span>
        <span *ngIf="!createMode">Save</span>
    </button>
</div>
