<div *ngIf="!hide">
  <button mat-button (click)="onSwitchToProjects()">All Projects</button>
  <span *ngIf="project">
    <span>/</span>
    <button mat-button (click)="onSwitchToProject()">{{project.name | truncate:25 }}</button>
    <span *ngIf="!requirement">
      <span>/</span>
      <button mat-button [matMenuTriggerFor]="menu">
        <span  *ngIf="!showDocuments">Requirements</span> 
        <span  *ngIf="showDocuments">Documents</span>
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="showDocuments" (click)="onSwitchToRequirements()">Requirements</button>
        <button mat-menu-item *ngIf="!showDocuments" (click)="onSwitchToDocuments()">Documents</button>
      </mat-menu>
    </span>
    <span *ngIf="requirement">
      <span>/</span>
      <button mat-button>
        <span *ngIf="!requirement.reference">{{requirement.summary | truncate:25 }}</span>
        <span *ngIf="requirement.reference">{{requirement.reference | truncate:25 }}</span>
      </button>
      <span *ngIf="!measure">
        <span>/</span>
        <button mat-button>Measures</button>
      </span>
      <span *ngIf="measure">
        <span>/</span>
        <button mat-button>Measure</button>
        <span *ngIf="task">
          <span>/</span>
          <button mat-button>Task</button>
        </span>
      </span>
    </span>
  </span>
</div>