<div mat-dialog-title>
  <h1>
    <span *ngIf="createMode">Create</span>
    <span *ngIf="!createMode">Edit</span>
    <span>&nbsp;</span>
    <span>Measure</span>
  </h1>
</div>
<!-- Content -->
<div mat-dialog-content>
  <form 
    id="measureForm" #form="ngForm" (submit)="onSave(form)"
    fxLayout="column">

    <!-- Summary input -->
    <mat-form-field class="form-field-width" appearance="fill">
      <mat-label>Requirement summary</mat-label>
      <input name="summary" matInput [(ngModel)]="measureInput.summary" required>
    </mat-form-field>

    <!-- Description input -->
    <mat-form-field class="form-field-width" appearance="fill">
      <mat-label>Requirement description</mat-label>
      <textarea name="description" matInput [(ngModel)]="measureInput.description"></textarea>
    </mat-form-field>

    <!-- Assign document -->
    <mvtool-document-input 
      [requirementId]="requirementId"
      [(documentId)]="measureInput.document_id">
    </mvtool-document-input>

    <!-- Assign JIRA issue -->

    <!-- Completed checkbox -->
    <mat-checkbox name="completed" [(ngModel)]="measureInput.completed">
      Completed
    </mat-checkbox>
  </form>
</div>
<!-- Actions -->
<div mat-dialog-actions align="end">
  <button mat-button class="form-button" (click)="onCancel()">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
  <button mat-raised-button disabled="{{form.invalid}}" class="form-button" color="accent" type="submit" form="measureForm">
    <mat-icon>save</mat-icon>
    <span>&nbsp;</span>
    <span *ngIf="createMode">Create</span>
    <span *ngIf="!createMode">Save</span>
  </button>
</div>