<div mat-dialog-title>
  <h1>
    <span *ngIf="createMode">Create</span>
    <span *ngIf="!createMode">Edit</span>
    <span>&nbsp;</span>
    <span>Project</span>
  </h1>
</div>
<!-- content -->
<div mat-dialog-content>
  <form id="projectForm" #form="ngForm" (submit)="onSave(form)">
    <!-- Project name input -->
    <mat-form-field class="form-field-width" appearance="fill">
      <mat-label>Project name</mat-label>
      <input name="name" matInput [(ngModel)]="projectInput.name" required>
    </mat-form-field>

    <!-- Project description input -->
    <mat-form-field class="form-field-width" appearance="fill">
      <mat-label>Project description</mat-label>
      <textarea name="description" matInput [(ngModel)]="projectInput.description"></textarea>
    </mat-form-field>

    <!-- select jira project -->
    <mvtool-jira-project-input 
      [locked]="jiraProjectLocked"
      [(jiraProjectId)]="projectInput.jira_project_id">
    </mvtool-jira-project-input>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button class="form-button" (click)="onCancel()">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
  <button mat-raised-button disabled="{{form.invalid}}" class="form-button" color="accent" type="submit" form="projectForm">
    <mat-icon>save</mat-icon>
    <span>&nbsp;</span>
    <span *ngIf="createMode">Create</span>
    <span *ngIf="!createMode">Save</span>
  </button>
</div>