<div fxLayout="column">
  <!-- Toolbar -->
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Buttons -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <!-- Button to reload projects -->
      <button mat-button (click)="onReloadProjects()">
        <mat-icon>refresh</mat-icon>
        Refresh Table
      </button>

      <!-- Button to create project -->
      <button mat-button (click)="onCreateProject()">
        <mat-icon>add</mat-icon>
        Create Project
      </button>
    </div>
  
    <!-- Search -->
    <div fxFlex="30" fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Filter projects</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="onFilterProjects($event)" #filterInput>
      </mat-form-field>
    </div>
  </div>

  <!-- Projects table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let project"> {{project.id}} </td>
    </ng-container>
  
    <!-- Name column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let project"> {{project.name}} </td>
    </ng-container>
  
    <!-- Description column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let project"> {{project.description | truncate}} </td>
    </ng-container>
  
    <!-- JIRA project column -->
    <ng-container matColumnDef="jira_project_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> JIRA Project </th>
        <td mat-cell *matCellDef="let project">
          <mvtool-jira-project-label 
            [project]="project" (click)="$event.stopPropagation()">
          </mvtool-jira-project-label>
        </td>
    </ng-container>
  
    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let project">
          <mvtool-table-options
            (edit)="onEditProject(project)"
            (delete)="onDeleteProject(project)">
          </mvtool-table-options>
        </td>
    </ng-container>
  
    <tr 
      mat-header-row 
      *matHeaderRowDef="displayedColumns; sticky: true">
    </tr>
    <tr 
      mat-row
      class="data-row"
      *matRowDef="let project; columns: displayedColumns;" 
      (click)="onProjectClicked(project)">
    </tr>
  
    <tr class="mat-row" *matNoDataRow>
      <!-- Shown when there is no matching data -->
      <td 
        *ngIf="filterInput.value"
        class="mat-cell" colspan="4">
        No data matching the filter: 
        <strong>{{filterInput.value}}</strong>
      </td>
      <!-- Shown when the table is empty -->
      <td 
        *ngIf="!filterInput.value" 
        class="mat-cell" colspan="100">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>No projects to display.</div>
          <button 
            mat-raised-button (click)="onCreateProject()"
            color="accent">
            <mat-icon>add</mat-icon>
            Create One
          </button>
        </div>
      </td>
    </tr>
  </table>
  
  <!-- Table paginator -->
  <mat-paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100, 150]" showFirstLastButtons>
  </mat-paginator>
</div>