<div fxLayout="column">
  <!-- Toolbar -->
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Buttons -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <!-- Button to reload requirements -->
      <button mat-button (click)="onReloadRequirements()">
        <mat-icon>refresh</mat-icon>
        Refresh Table
      </button>

      <!-- Button to create requirement -->
      <button mat-button (click)="onCreateRequirement()">
        <mat-icon>add</mat-icon>
        Create Requirement
      </button>
        
      <!-- Button to upload Excel -->
      <button mat-button (click)="onImportRequirements()">
        <mat-icon>file_upload</mat-icon>
        Upload Excel
      </button>
        
      <!-- Button to download sample Excel -->
      <button *ngIf="!dataSource.data.length" mat-button>
          <mat-icon>file_download</mat-icon>
          Download Sample Excel
      </button>
  
      <!-- Button to download Excel -->
      <button *ngIf="dataSource.data.length" mat-button (click)="onExportRequirements()">
        <mat-icon>file_download</mat-icon>
        Download Excel
      </button>
    </div>
  
    <div fxFlex="30" fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Filter projects</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="onFilterRequirements($event)" #filterInput>
      </mat-form-field>
    </div>
  </div>

  <!-- Requirements table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let requirement"> {{requirement.id}} </td>
    </ng-container>

    <!-- Reference column -->
    <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
        <td mat-cell *matCellDef="let requirement"> {{requirement.reference | truncate}} </td>
    </ng-container>
  
    <!-- Summary column -->
    <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Summary </th>
        <td mat-cell *matCellDef="let requirement"> {{requirement.summary | truncate}} </td>
    </ng-container>
  
    <!-- Description column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let requirement"> {{requirement.description | truncate}} </td>
    </ng-container>

    <!-- Target object column -->
    <ng-container matColumnDef="target_object">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Object </th>
        <td mat-cell *matCellDef="let requirement"> {{requirement.target_object | truncate}} </td>
    </ng-container>

    <!-- Compliance status column -->
    <ng-container matColumnDef="compliance_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Compliance Status </th>
        <td mat-cell *matCellDef="let requirement"> {{requirement.compliance_status}} </td>
    </ng-container>

    <!-- Compliance comment column -->
    <ng-container matColumnDef="compliance_comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Compliance Comment </th>
        <td mat-cell *matCellDef="let requirement"> {{requirement.compliance_comment | truncate}} </td>
    </ng-container>
  
    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let requirement">
          <div align="end">
            <button mat-icon-button (click)="onEditRequirement(requirement)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteRequirement(requirement)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let requirement; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <!-- Shown when there is no matching data -->
      <td 
        *ngIf="filterInput.value"
        class="mat-cell" colspan="4">
        No data matching the filter: 
        <strong>{{filterInput.value}}</strong>
      </td>
      <!-- Shown when the table is empty -->
      <td 
        *ngIf="!filterInput.value" 
        class="mat-cell" colspan="100">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>No requirements to display.</div>
          <button 
            mat-raised-button (click)="onCreateRequirement()"
            color="accent">
            <mat-icon>add</mat-icon>
            Create One
          </button>
        </div>
      </td>
    </tr>
  </table>

  <!-- Table paginator -->
  <mat-paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100, 150]" showFirstLastButtons>
  </mat-paginator>
</div>